
<body>
    <div class="page-wrapper">
        <app-header></app-header>
        <div class="page-content">
            <main class="page-main">
                <!-- Static Image Section -->
                <div class="uk-grid" >
                    <div class="uk-width-2-3@l uk-width-3-3@m uk-width-3-3@s">
                        <div class="static-image-section">
                            <div class="image-container" style="background-image: url('assets/images/imagefront.jpg');">
                                <div class="overlay">
                                    <div class="text-container">
                                        <h2>Improve your skills on your own</h2>
                                        <h2>To prepare for a better future</h2>
                                        <a href="#" class="register-button">REGISTER NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Courses Section -->
                <div class="courses-section">
                    <h2>Discover Our Courses</h2>
                    <a href="#" class="View-button">View More</a>
                </div>
                
                <div>
                    <app-list-courses></app-list-courses>
                </div>

                <!-- Contact Section -->
                <app-contact-us></app-contact-us>
            </main>
        </div>
    </div>
</body>
