    <!--start sidebar -->
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
              <div class="nav">
                  <div class="sb-sidenav-menu-heading">Dashboard</div>
                  <a class="nav-link" href="index.html">
                      <div class="sb-nav-link-icon"><i class="fadeIn animated bx bx-list-minus"></i></div>
                      Courses
                  </a>
                 
                 
              </div>
          </div>
          <div class="sb-sidenav-footer" style="background-color: #eeaa4b; color: black;">
            <div class="small">Logged in as:</div>
            The Bridge Admin
          </div>
          
          
      </nav>
  </div>